<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Suggestion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% load static %}
    <script src="{%static 'verifier.js'%}"></script>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper purple accent-1">
            <a href="" class="brand-logo"> <font size="7"><b>Recipe Recommendation</b></font></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if request.user.username == 'admin' %}
                <li><a href="/add">Add New Recipe</a></li>
               <li> <a href="/home">Home</a></li>
                {% endif%}
              <li>  <a href="/logout">Logout</a>

                </li>
            </ul>
        </div>
    </nav>
</div>
<p>
    <label>
        <input class="with-gap purple accent-1" id="ingredient" name="group3" type="radio" checked
               onclick="javascript:verify()"/>
        <span>Search by Ingredient</span>
    </label>
    <label>
        <input class="with-gap purple accent-1" id="image" name="group3" type="radio" onclick="javascript:verify()"/>
        <span>Search by image</span>
    </label>
</p>
<div id="game" style="visibility:'visible'">

    <form action="/byingredient" method="POST">
        {% csrf_token %}
        <label>Ingredients</label>
        <input type="text" name="ingredient" placeholder="separate each Ingredient by ,">
        <button class="btn waves-effect waves-light purple accent-1" type="submit"> SUBMIT</button>
    </form>
</div>
<div id="game1" style="visibility:hidden">
    Add a image
    <form method="POST" action="/upload" enctype="multipart/form-data">
        {% csrf_token %}
        <div class= "file-field input-field" >
            <div class="btn waves-effect waves-light purple accent-1" >
                <span> Browse </span><input type = "file"name = "document" >
                </div>
            <div class= "file-path-wrapper" >
                <input class= "file-path validate"type = "text" ></div></div>
        <button class= "btn waves-effect waves-light purple accent-1"type = "submit" > Submit</button>
    </form>

</div>
{% for message in messages %}
    {{message}}<br>
{% endfor %}
</body>
</html>